* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal; }

main {
  background-color: white; }

h1 {
  font-size: 1.6rem; }

nav {
  background-image: linear-gradient(#0367A6, #63c0fa);
  height: 70px;
  width: 100%; }
  nav ul li a {
    font-size: 2.5vh;
    color: white;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    transition: 0.5s; }
  nav ul div h1 {
    margin-right: 5rem; }

.ulnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }

nav ul li:hover {
  transform: scale(1.2, 1.2); }

a:hover {
  color: black; }

a:active {
  font-weight: bold; }

a {
  color: #272727;
  text-decoration: none; }

.dilazio {
  font-family: 'Prata', serif;
  font-style: italic;
  font-size: 4vw;
  color: white; }

form {
  height: 100%;
  width: 460px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 7px;
  font-family: monospace;
  margin-bottom: 15px; }
  form h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center; }

button, input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: none; }

textarea {
  max-width: 363px;
  min-width: 363px;
  max-height: 200px;
  min-height: 100px; }

#boton {
  background-color: #31384a;
  padding: 20px;
  color: #fff; }

#boton:hover {
  cursor: pointer; }

table {
  margin-top: 2rem;
  width: 65%;
  text-align: center; }
  table tr th {
    font-family: 'Prata', serif;
    font-size: 25px;
    text-align: center; }
  table td {
    border-radius: 20px;
    padding: 2rem;
    background-color: #0367A6;
    color: white;
    letter-spacing: 1px;
    word-spacing: 7px; }

.cajaTabla {
  display: flex;
  justify-content: center; }

.padreImg {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 45px;
  height: 85vh; }

.imgIndex {
  padding: 0;
  transition: 0.3s; }

.imgIndex:hover {
  transform: scale(1.04, 1.04); }

.formulario ul {
  list-style-type: none; }
  .formulario ul li {
    padding-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px; }

select {
  margin-bottom: 10px; }

.localidades {
  display: flex;
  background-color: #8ebdc4;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 400px;
  flex-wrap: wrap; }

.localidades__descripcion {
  height: 100%;
  width: 50%;
  text-align: center;
  font-weight: 600; }
  .localidades__descripcion p {
    margin-bottom: 5px; }
  .localidades__descripcion span {
    display: block;
    margin-top: 40px; }
    .localidades__descripcion span a {
      font-weight: bold;
      text-decoration: underline; }

.municipios span a:hover {
  font-weight: normal; }

h2 {
  margin-left: 10px;
  margin-bottom: 10px; }

.tituloHeader {
  display: flex;
  height: 12rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.bienv {
  font-family: 'Prata', serif;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 3rem;
  letter-spacing: 6px;
  color: #444444;
  text-decoration: overline underline; }

.titulo {
  display: flex;
  height: 6rem;
  width: 100%;
  padding-top: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.reserva {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 20rem;
  border: solid 4px #272727;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold; }

.reserva a {
  text-decoration: none;
  color: #272727; }

.reserva a:hover {
  color: grey; }

.padreComida {
  display: flex;
  height: 350px;
  justify-content: space-around; }
  .padreComida h3 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 15px;
    padding-top: 20px; }
  .padreComida ul {
    list-style: circle; }
    .padreComida ul li {
      padding-bottom: 7px; }

.espacioArriba {
  padding-top: 20px; }

.contenedorAbout {
  display: grid;
  grid-template-rows: 500px;
  grid-template-columns: 2fr 2fr 2fr;
  height: 700px;
  padding-top: 60px; }

.contenedorAbout__itemUno {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  padding-top: 40px;
  letter-spacing: 0.1px;
  word-spacing: 5px;
  margin-left: 4px;
  padding-left: 4px; }

.contenedorAbout__imgUno {
  max-height: 550px;
  margin: 0;
  padding: 0;
  margin-left: 20px; }

.contenedorAbout__imgDos {
  padding: 0;
  max-height: 270px; }

.contenedorAbout__separacionImgUno {
  margin-left: 50px; }

.contenedorAbout__separacion {
  margin-bottom: 12px; }

:root {
  --facebook:#3b5999;
  --instagram:#e4405f;
  --twitter:#55acee; }

.redes-container {
  display: flex;
  height: 15vh;
  align-items: flex-start;
  justify-content: center; }
  .redes-container ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center; }
    .redes-container ul li a {
      display: block;
      padding: 0 10px;
      background-color: #333;
      color: white;
      line-height: 50px;
      font-size: 18px;
      box-shadow: 0 3px 5px 0px black;
      transition: .2s; }

.redes-container ul:hover a {
  filter: blur(2px); }

.redes-container ul li a:hover {
  transform: translate(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px black;
  filter: none; }

.redes-container ul li .facebook:hover {
  background-color: var(--facebook); }

.redes-container ul li .instagram:hover {
  background-color: var(--instagram); }

.redes-container ul li .twitter:hover {
  background-color: var(--twitter); }

.contacto-img {
  max-width: 100%;
  max-height: 200vh;
  margin: 0px;
  padding: 0px; }

.sociales {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 10px; }

footer {
  margin-top: 20px;
  background-color: #272727;
  color: #797979;
  width: 100%;
  height: 14vw; }
